<div class="panel offerings">
  <div class="panel-title">
    <div class="row">
      <div class="columns small-12 medium-10 large-8">
        <h3>{{ content.field_tadl_list_title[0] }}</h3>
        <p>{{ content.field_tadl_list_description[0] }}</p>
      </div>
    </div>
  </div>
  <div class="group-listing with-gradient container">
    <ul class="row">
      {{ content.field_tadl_list_item }}
    </ul>
  </div>
</div>