<div class="column column-block" data-equalizer-watch>
  <div class="item-titles">
    <h3>{{ content.field_details_table_item_title[0] }}</h3>
    {{ content.field_details_table_item_descrip[0] }}
  </div>
  <div class="item-details">
    {{ content.field_details_table_item_details[0] }}
  </div>
</div>