<div class="panel programs-listing">
  <div class="row">
    <div class="columns small-12 medium-12 large-6">
      <div class="panel-title">
        <h3>{{ content.field_text_only_list_title[0] }}</h3>
        <p>{{ content.field_text_only_list_description[0] }}</p>
        <span class="cta-wrapper large white-on-color">
          {{ content.field_text_only_list_link }}
        </span>
      </div>
    </div>

    <div class="columns small-12 medium-12 large-6">
      <ul>
        {{ content.field_text_only_list_item }}
      </ul>
    </div>
  </div>
</div>