<div class="panel featured-sections general">
  <div class="panel-title row">
    <div class="columns small-12 medium-10 columns-centered center">
      <h3>{{ content.field_icon_box_title[0] }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="columns small-12 medium-10 large-8 columns-centered center">
      <ul>
        {{ content.field_icon_box_item }}
      </ul>
    </div>
  </div>
</div>
