<li>
    <h4>{{ content.field_text_only_item_title[0] }}</h4>
    <div class="table">
        <div class="cell top">
            <p>{{ content.field_text_only_item_description[0] }}</p>
        </div>
        <div class="cell top" style="padding-top: 8px;">
        <span class="cta-wrapper small white-on-color">
          {{ content.field_text_only_item_link }}
        </span>
        </div>
    </div>
</li>
