<div class="panel related-sections">
  <div class="row panel-title">
    <div class="columns small-12 columns-centered center">
      <h3>{{ content.field_icon_box_caption_title[0] }}</h3>
    </div>
  </div>
  <ul>
    {{ content.field_icon_box_caption_item }}
  </ul>
</div>
