<div class="panel page-content">
  <div class="row">
    {% if content.field_text_box_body %}
    <div class="columns small-12 medium-10 columns-centered content">
      {{ content.field_text_box_body }}
    </div>
    {% endif %}
  </div>
</div>
