<li>
  <a href="{{ content.field_external_link_link[0]['#url'] }}" class="table">
    <div class="cell middle">
      <i class="fa fa-external-link"></i>
    </div>
    <div class="cell middle">
      <div class="inner excerpt">
        <span>{{ content.field_external_link_link[0]['#title'] }}</span>
      </div>
    </div>
  </a>
</li>