<div class="panel page-content">
  <div class="row">
    <div class="columns small-12 medium-10 columns-centered content">
      <h3>{{ content.field_video_title[0] }}</h3>
      {{ content.field_video_link }}
      <p>{{ content.field_video_description[0] }}</p>
    </div>
  </div>
</div>
