<div class="panel related-page-section">
  <div class="row">
    <div class="table">
      <div class="cell figure" style="background-image: url({{ file_url(content.field_big_picture_box_image['#items'].entity.uri.value) }});">&nbsp;</div>
      <div class="cell details top">
        <h3>{{ content.field_big_picture_box_title[0] }}</h3>
        <div class="excerpt">
          <p>{{ content.field_big_picture_box_descript[0] }}</p>
        </div>
        <span class="cta-wrapper large white-on-color">
          {{ content.field_big_picture_box_link }}
        </span>
      </div>
    </div>
  </div>
</div>
