<li>
  <a href="{{ file_url(content.field_file_download_file[0]['#file'].fileuri) }}" class="table">
    <div class="cell middle">
      <i class="fa fa-cloud-download"></i>
    </div>
    <div class="cell middle">
      <div class="inner excerpt">
        <span>{{ content.field_file_download_file[0]['#description'] }}</span>
      </div>
    </div>
  </a>
</li>