<li>
  <a href="{{ content.field_icon_box_cap_item_link[0]['#url'] }}" class="table">
    <div class="figure cell">
      <i class="{{ content.field_icon_box_cap_item_icon[0] }}"></i>
      <h4>{{ content.field_icon_box_cap_item_label[0] }}</h4>
    </div>
    <div class="figcaption cell">
      <div class="excerpt">
        <p>{{ content.field_icon_box_cap_item_descript[0] }}</p>
      </div>
    </div>
  </a>
</li>
