<li>
  <a href="{{ content.field_icon_box_item_link[0]['#url'] }}" class="table">
    <div class="inner cell middle">
      <i class="{{ content.field_icon_box_item_icon[0] }}"></i>
      <h4>{{ content.field_icon_box_item_label[0] }}</h4>
    </div>
  </a>
</li>
