<div class="panel">
  <div class="row">
    <div class="columns small-6 medium-12 large-2">
      <ul class="footer-menu-secondary">
        <li><a href="#"><i class="fa fa-circle-o"></i>For Staff</a></li>
        <li><a href="#"><i class="fa fa-circle-o"></i>Staff Directory</a></li>
        <li><a href="#"><i class="fa fa-circle-o"></i>Careers</a></li>
        <li><a href="#"><i class="fa fa-circle-o"></i>Sitemap</a></li>
        <li><a href="#"><i class="fa fa-circle-o"></i>Contact</a></li>
      </ul>
    </div>
    <div class="columns small-6 medium-12 large-7">
      <div class="row footer-addresses">
        <div class="columns small-12 medium-4 large-4 footer-address-postal">
          <h4>Postal Address</h4>
          <p>P.O. Box 3000,<br>
            Boulder, CO 80307-3000
          </p>
        </div>
        <div class="columns small-12 medium-4 large-5 footer-address-shipping">
          <h4>Shipping Address</h4>
          <p>3090 Green Center Dr.<br>
            Boulder, CO 80301
          </p>
        </div>
        <div class="columns small-12 medium-4 large-3 footer-address-social">
          <h4>Follow Us</h4>
          <ul class="social-menu">
            <li><a href="#" title="Facebook"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="#" title="Twitter"><i class="fa fa-twitter-square"></i></a></li>
            <li><a href="#" title="YouTube"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#" title="Instagram"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="columns small-12 medium-12 large-3 footer-subscribe">
      <h4>Subscribe to AtmosNews</h4>
      <div class="newsletter-signup">
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup" class="clear-block">
          <form action="http://ucar.us4.list-manage.com/subscribe/post?u=289033ba2718c3aa3d2b2e76f&amp;id=80502e816e"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                class="validate" target="_blank" novalidate>

            <label for="mce-EMAIL">Get AtmosNews</label>
            <input type="email" value="" name="EMAIL" class="email clear-block" id="mce-EMAIL"
                   placeholder="Email Address" required>
            <input type="button" value="Sign Up" name="subscribe" id="mc-embedded-subscribe"
                   class="submit"/>

          </form>
        </div>
        <!--End mc_embed_signup-->
      </div>
    </div>
  </div>
  <div class="footer-menu-tertiary row">
    <div class="columns small-12">
      <small>&copy; 2016 UCAR</small>
      <ul>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Copywright Issues</a></li>
        <li><a href="#">Sponsored by NSF</a></li>
        <li><a href="#">NCAR Home</a></li>
        <li><a href="#">UCAR Home</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="footer-sponsor">
  <div class="row">
    <div class="columns small-12 columns-centered">
      <div class="table">
        <div class="cell middle description">
          <p>The National Center for Atmospheric Research is sponsored by the National Science Foundation. Any
            opinions, findings and conclusions or recommendations expressed in this publication are those of
            the author(s) and do not necessarily reflect the views of the National Science Foundation</p>
        </div>
        <div class="cell middle logo">
          <a href="https://www.nsf.gov/" target="_blank"><img
              src="/profiles/ncar_ucar_umbrella/themes/custom/koru/libraries/koru-base/img/footer-logo-nsf.png" alt="National Science Foundation"/></a>
        </div>
      </div>
    </div>
  </div>
</div>
